# Output files
*.pdf
*.dvi
*.ps

# LaTeX auxiliary/intermediate files
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.maf
*.mtc*
*.nav
*.nlo
*.out
*.run.xml
*.snm
*.synctex*
*.toc
*.vrb

# Editor files
.vscode/
.DS_Store
Thumbs.db
git add .